body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logout-button {
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

table, th, td {
    border: 1px solid black;
}

table th, table td {
    padding: 0.5rem;
    text-align: left;
}